.banner-text{
    color: var(--primaryColor);
    margin: 0 auto;
}
.travel-area{
    /* margin-top: 40px; */
    padding:40px 0px;
}
.banner-text button{
    background: transparent;
    padding: 0.4rem 0.9rem;
    background: var(--primaryColor);
    border: 3px solid var(--primaryColor);
    transition: var(--mainTransition);
    text-transform: uppercase;
    cursor: pointer;
    margin-top: 20px;
    margin-left: 25%;

    
}
.banner-text button:hover {
    background: transparent;
    color: var(--primaryColor);
  }
